*{
    margin: 0px;
    padding: 0px;
    outline: none;
}
p{
    margin: 0px;
    padding: 0px;
}
.everything{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 100%;
    position: relative;
    top: 15vh;
    bottom: 0;
    animation: onload 1s;
    background-color: #161922;
    padding: 5% 0;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2vw;
    min-width: 100%;
}
/******************************************* card ***************************************************************/

.status-airing {
    color: #4caf50; /* Green */
    border-color: #4caf50;
}

.status-finished {
    color: #2196f3; /* Blue */
    border-color: #2196f3;
}

.status-upcoming {
    color: #ff9800; /* Orange */
    border-color: #ff9800;
}

a{
    text-decoration: none;
    border: grey 1px solid;
}
.my-card{
    display: flex;
    transition: 0.5s;
    width: 350px !important;
    height: 300px !important;
    background-color: #161922;
    border-radius: 10px;
    position: relative;
    justify-content: start;
    align-items: center;
    padding: 0.5vw;
}
#my-card{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #161922;
    border-radius: 10px;
    position: relative;
    justify-content: start;
    align-items: center;
    padding: 0.5vw;
    gap: 0.7vw;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.image-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    -webkit-box-shadow: inset 0px -102px 56px -42px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -102px 56px -42px rgba(0,0,0,0.75);
    box-shadow: inset 0px -102px 56px -42px rgba(0,0,0,0.75);
    border-radius: 10px;
    pointer-events: none;
    z-index: 1;
}

.img-rating{
    max-width: 50%;
    min-width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.my-card-img{
    width: auto;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}
#rating{
    position: absolute;
    color: white;
    font-size: 1em;
    bottom: 0.5vh;
    left: 0.5vw;
    margin: 0;
    z-index: 2;
}

.card-info{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    color: white;
    font-weight: 400;
    gap: 1.2vh;
}
.status{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(134, 134, 164);
    border-radius: 10px;
    padding: 0.5vw;
}
#status{
    font-size: 1em;
}
.year{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5vw;
    font-size: 0.8em;
}
#title{
    font-size: 1em;
    font-weight: 500;
}
.score{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    font-weight: 700;
}
.rank{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    font-weight: 500;
    color: rgb(167, 167, 167);
}
.score-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.genres{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.my-card:hover{
    box-shadow: -2px 4px 20px 0px black;
    transition: 0.5s;
    transform: translateY(-10px);
}




/******************************************* card ***************************************************************/
.searchbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.searchinput{
    border-radius: 20px;
    border: 1px solid gray;
    font-weight: 500;
    outline: none;
    width: 550px;
    height: 40px;
    padding: 10px ;
}
.filter{
    border: 1px solid gray;
    outline: none;
    border-radius: 10px;
    padding: 5px;
}



@keyframes onload{
    from { opacity: 0}
    to   { opacity: 1}
}