<section class="everything">
    <form [formGroup]="searchbar" class="searchbar">
        <div class="search">
          <input type="text" class="searchinput"
           placeholder="&#xF002; Search" aria-label="Search" style="font-family: Arial, FontAwesome"
           id="name" [(ngModel)]="searchInput" formControlName="name"
           >
        </div>
        <div class="search">
          <input type="number" class="filter"
            placeholder="$" aria-label="Search" style="font-family: Arial, FontAwesome"
            id="price" max="1000" formControlName="price"
             >
        </div>
        <button class="btn btn-success" (click)="searching()">search</button>
    </form>


    
    <div class="container">

      <ng-container *ngIf="test2; else elseBlock">

        <!-- <div *ngFor="let data of test " class="card" style="width: 18rem;">
          <a class="card"
          (click)="navigateToGallery(data)"
          routerLink="/gallery" >


          </a>
          </div> -->

      </ng-container>
      <ng-template #elseBlock>

          <div *ngFor="let data of searchResults" class="my-card" style="width: 250px; height: 200px;">
            <a id="my-card"
            (click)="navigateToGallery(data)"
            routerLink="/gallery" >
              <div class="img-rating">
                <div class="image-wrapper">
                  <img [src]="data.images.jpg.large_image_url" class="my-card-img" alt="...">
                </div>
                <p id="rating">| {{ data.rating?.startsWith('PG') ? 'PG-13' : data.rating?.substring(0, 2) }}</p>
              </div>
              <div class="card-info">
                <div class="status" [ngClass]="{
                  'status-finished': data.status === 'Finished Airing',
                  'status-airing': data.status === 'Currently Airing',
                  'status-upcoming': data.status === 'Not yet aired'
                }">
                  <p id="status">{{data.status}}</p>
                </div>


                <ng-container *ngIf="data.episodes === 1; else multipleEpisodes">
                  <div class="year">
                    <p class="release">
                      {{ data.season ? data.season : '' }} 
                      {{ data.year ? data.year : '' }}
                    </p>
                    <p class="episodes">Movie</p>
                  </div>
                </ng-container>
          
                
                <ng-template #multipleEpisodes>
                  <ng-container *ngIf="data.episodes != null; else noEpisodes">
                    <div class="year">
                      <p class="release">
                        {{ data.season ? data.season : '' }} 
                        {{ data.year ? data.year : '' }}
                      </p>
                      <p class="episodes">{{ data.episodes }} episodes</p>
                    </div>
                  </ng-container>
                </ng-template>
          
                
                <ng-template #noEpisodes>
                  <div class="year">
                    <p class="release">
                      {{ data.season ? data.season : '' }} 
                      {{ data.year ? data.year : '' }}
                    </p>
                  </div>
                </ng-template>

                <div class="title">
                  <ng-container *ngIf="data.title_english != null; else japaneseTitle">
                    <p id="title">{{ data.title_english.length > 35 ? (data.title_english | slice:0:35) + '...' : data.title_english }}</p>
                  </ng-container>
                  <ng-template #japaneseTitle>
                    <p id="title">{{ data.title.length > 35 ? (data.title | slice:0:35) + '...' : data.title}}</p>
                  </ng-template>
                </div>

                <ng-container *ngIf="data.rank != null && data.score != null; else noScore">
                  <div class="score-list">
                    <div class="score">
                      <p id="score"><i class="fa-regular fa-star"></i>{{data.score}}</p>
                      <p id="ranking">#{{data.rank}}</p>
                    </div>
                    <div class="rank">
                      <p id="members">{{data.members}} users</p>
                      <p>ranking</p>
                    </div>
                  </div>
                </ng-container>
                <ng-template #noScore>
                  <ng-container *ngIf="data.rank == null && data.score != null; else noRank">
                    <div class="score-list">
                      <div class="score">

                        <p id="ranking">#{{data.rank}}</p>
                      </div>
                      <div class="rank">
                        <p>ranking</p>
                      </div>
                    </div>
                  </ng-container>
                </ng-template>
                <ng-template #noRank>
                  <ng-container *ngIf="data.rank != null && data.score == null; else non">
                    <div class="score-list">
                      <div class="score">
                        <p id="score"><i class="fa-regular fa-star"></i>{{data.score}}</p>
                      </div>
                      <div class="rank">
                        <p id="members">{{data.members}} users</p>
                      </div>
                    </div>
                  </ng-container>
                </ng-template>
                <ng-template #non>
                  <ng-container *ngIf="data.rank == null && data.score == null;">
                    <div class="score-list">

                    </div>
                  </ng-container>
                </ng-template>

                <div class='genres' *ngFor="let item of data.genres">
                  <p>{{item.name}}</p>
                </div>

              </div>
              
            </a>
            </div>

      </ng-template>

    </div>
    
</section>
